@use "variables" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  container-type: inline-size;
  gap: 2rem;
  flex: 1;
  height: 100%;
  padding: 3rem;

  @media (max-width: $mobile) {
    justify-content: center;
  }

  > span {
    max-width: $desktop-tiny;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.25rem;
    color: #d0d0d0;

    &.status-code {
      width: min(100%, $desktop-tiny);
      padding: 0;
      margin-bottom: 2rem;
      color: #d0d0d0;
      white-space: nowrap;
      line-height: 1;
      font-size: clamp(1rem, calc(min(100cqw, $desktop-tiny) / var(--text-divisor)), 14rem);
      transition: margin-bottom 200ms ease;

      @media (max-width: $mobile-large) {
        margin-bottom: 1rem;
      }
    }

    &.status-desc {
      font-weight: 200;
      font-size: clamp(0.75rem, calc(min(100cqw, $desktop-tiny) / 35), 1.5rem);
    }

    &.status-details {
      font-weight: 500;
      font-size: clamp(0.75rem, calc(min(100cqw, $desktop-tiny) / 35), 1.5rem);
    }
  }

  > .status-actions {
    display: flex;
    width: 100%;
    max-width: 32rem;
    margin-top: 1rem;

    &.status-actions-between {
      justify-content: space-between;
    }

    &.status-actions-center {
      justify-content: center;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      margin-top: 0;
    }
  }
}
