:host {
  display: block;

  .mp4-settings-row {
    align-items: center;
    padding-top: 4px;
  }

  .mp4-setting-text {
    font-size: 0.8rem;
    color: #888;
    line-height: 1.1;
    white-space: nowrap;
    text-align: left;
  }

  .error-message {
    text-align: center;
  }
}
