<div class="tribe-picker">
  @for (tribe of tribes; track tribe.id) {
    @if (tribe.id !== "dead") {
      <gol-tribe-swatch class="draw-swatch" size="md" [color]="tribe.color" [selected]="drawTribes.includes(tribe.id) && !deleteMode" [tooltip]="tribe.id" (clicked)="tribeChange.emit(tribe.id)" />
    }
  }
  <button class="delete-swatch" matTooltip="Delete" type="button" [class.active]="deleteMode" (click)="deleteModeToggle.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="gol-grid-small" [formGroup]="form">
  <div class="gol-cell-12 gol-grid-tiny">
    <span class="input-label gol-cell-2" matTooltip="Brush size">Size</span>
    <gol-number-input class="gol-cell-4" formControlName="brushSize" tooltip="Brush size" [decimalDigits]="0" [max]="brushMaxSize" [maxIntegerDigits]="brushSizeIntegerDigits" [min]="minBrushSize" />
    <span class="gol-cell-6 error-message">{{ brushSizeError }}</span>
  </div>
  <div class="gol-cell-12 gol-grid-tiny">
    <span class="input-label gol-cell-2" matTooltip="Brush shape">Shape</span>
    <gol-exclusive-button-group class="gol-cell-10" formControlName="brushShape" [options]="brushShapeOptions" />
  </div>
  <div class="gol-cell-12 gol-grid-tiny">
    <span class="input-label gol-cell-2" matTooltip="Brush fill mode">Mode</span>
    <gol-exclusive-button-group class="gol-cell-10" formControlName="brushFill" [options]="brushFillOptions" />
  </div>
  <div class="gol-cell-12 gol-grid-tiny">
    <span class="input-label gol-cell-2" matTooltip="Brush density">Density</span>
    <gol-number-input class="gol-cell-4" formControlName="brushDensity" tooltip="Brush density" [decimalDigits]="0" [max]="100" [maxIntegerDigits]="brushDensityIntegerDigits" [min]="1" />
    <span class="gol-cell-6 error-message">{{ brushDensityError }}</span>
  </div>
  <div class="gol-cell-12 gol-grid-tiny mobile-only">
    <span class="input-label gol-cell-2">Touch</span>
    <gol-exclusive-button-group class="gol-cell-10" formControlName="touchMode" [options]="touchModeOptions" />
  </div>
</div>
