@use "variables" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1;
  height: 100%;
  padding: 3rem;

  > span {
    max-width: $desktop-tiny;
    text-align: center;
    line-height: 1.5rem;
    color: #d0d0d0;

    &.error-code {
      font-size: 6rem;
      line-height: 6rem;
      padding: 0;
      color: #d0d0d0;

      @media (max-width: $mobile) {
        font-size: 4rem;
        line-height: 4rem;
      }

      @media (max-width: $mobile-small) {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &.error-desc {
      font-weight: 200;
    }

    &.error-details {
      font-weight: 500;
    }

    @media (max-width: $mobile) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }

  > .error-actions {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 32rem;
    margin-top: 1rem;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      margin-top: 0;
    }

    > gol-button {
      background-color: #e0e0e0;
      border-radius: 4px;
    }
  }
}
