:host {
  color: white;
  display: flex;
  width: 100%;

  > section:first-child {
    width: 20%;
    display: none;
  }

  > section {
    // width: 80%;
    width: 100%;

    > canvas {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid whitesmoke;
    }
  }
}
