<form [formGroup]="form" (ngSubmit)="onApplyRules()">
  <div class="rules-settings">
    <div class="seed-field gol-grid-tiny" title="Random seed for rule probability rolls">
      <span class="gol-cell-4">Random seed</span>
      <gol-number-input class="gol-cell-5" formControlName="randomSeed" name="random-seed" title="Random seed" [decimalDigits]="0" [max]="maxRandomSeed" [maxIntegerDigits]="maxRandomSeedIntegerDigits" [min]="minRandomSeed" />
      <span class="gol-cell-3 error-message" [title]="randomSeedError ?? ''">{{ randomSeedError }}</span>
    </div>
  </div>
  <div cdkDropList cdkDropListOrientation="vertical" class="rules-list" [cdkDropListData]="rules.controls" [class.dragging-list]="draggingRuleIndex !== null" (cdkDropListDropped)="onRuleDropped($event)">
    @for (ruleControl of rules.controls; track ruleKey(i); let i = $index) {
      <div cdkDrag cdkDragLockAxis="y" cdkDragPlaceholderClass="gol-rule-drag-placeholder" cdkDragPreviewClass="gol-rule-drag-preview" class="rule-list-item" [class.dragging-rule]="draggingRuleIndex === i" (cdkDragEnded)="onRuleDragEnded()" (cdkDragStarted)="onRuleDragStarted(i)">
        <gol-rule-card [baselineRule]="baselineRule(i)" [expanded]="expandedRuleIndex === i" [formControl]="ruleControl" [ruleIndex]="i" [tribes]="tribes" (dragHandlePointerDown)="onRuleDragHandlePointerDown(i)" (duplicateRule)="onDuplicateRule(i)" (removeRule)="onRemoveRule(i)" (toggleExpand)="onToggleRuleExpand(i)" />
      </div>
    }
  </div>
  <gol-button icon="add" label="Add rule" title="Add a new rule" type="button" variant="stroked" (clicked)="onAddRule()" />
  <gol-button-pair [leftDisabled]="applyDisabled" [rightDisabled]="restoreDisabled" [rightType]="'button'" (rightClick)="onRestoreRules()" />
</form>
