// Grid
$grid-gap: 1rem;
$grid-gap-small: 0.75rem;
$grid-gap-tiny: 0.5rem;

// Media queries
$desktop-large: 77.5rem; // 1240px
$desktop: 61.25rem; // 980px
$desktop-small: 53.75rem; // 860px
$desktop-tiny: 46.25rem; // 740px
$mobile-large: 40rem; // 640px
$mobile: 31.25rem; // 500px
$mobile-small: 22.5rem; // 360px
$min-width: 17.75rem; // 284px
