:host {
  display: inline-block;

  > mat-checkbox {
    background-color: var(--gol-checkbox-background-color, #00000099);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }

  > mat-checkbox:hover {
    color: #ededed;
  }
}
