:host {
  display: block;

  &:focus-visible {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
  }

  &:has(button:disabled) {
    opacity: 0.33;
    cursor: default;
  }

  &[variant="raised"],
  &:not([variant]) {
    background-color: #d0d0d0;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 2px rgb(80, 80, 80);
    transition: 200ms ease;

    &:hover:has(button:not(:disabled)) {
      background-color: #ededed;
      transform: translateY(-2px);
      box-shadow: 4px 4px 8px 2px rgb(60, 60, 60);
    }
  }

  &[variant="flat"] {
    color: #d0d0d0;
    border: 2px outset #d0d0d0;
    border-radius: 4px;
    background-color: #00000099;

    &:hover:has(button:not(:disabled)) {
      color: #ededed;
      border-color: #ededed;
    }

    &:has(button:disabled),
    &:active {
      border-style: inset;
    }
  }

  &[variant="stroked"] {
    background-color: #00000099;

    > button {
      border: none;
      border-bottom: 2px dashed #d0d0d0;
    }

    &:hover {
      color: #ededed;

      > button:not(:disabled) {
        border-color: #ededed;
      }
    }
  }

  &[variant="icon"] {
    color: #d0d0d0;

    &:hover:has(button:not(:disabled)) {
      color: #ededed;
    }
  }

  > button {
    width: 100%;
  }

  > button[mat-icon-button][data-size="sm"] {
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0;

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }
}
