@if (tribe) {
  <div class="tribe-edit-row">
    <span class="tribe-color-swatch" [style.background-color]="'#' + headerColor"></span>
    <span class="tribe-id">{{ headerName }}</span>
    <gol-button class="small-btn" variant="icon" [disabled]="editing && (!canConfirmEdit || !hasPendingChanges)" [icon]="editing ? 'check' : 'edit'" [title]="editing ? 'Apply tribe changes' : 'Edit tribe'" (clicked)="editing ? onConfirmEdit() : openEditor()" />
    <gol-button class="small-btn" icon="close" title="Discard tribe changes" variant="icon" [disabled]="!editing" (clicked)="cancelEdit()" />
    <gol-button class="small-btn" icon="delete" title="Remove tribe" variant="icon" (clicked)="remove.emit(index)" />
  </div>
}
@if (showEditor) {
  <div class="tribe-editor">
    <gol-input name="tribeName" placeholder="Name (A-z, 0-9)" regex="^[0-9a-zA-Z]*$" [ngModel]="currentName" (ngModelChange)="onCurrentNameChange($event)" />
    <div class="color-palette">
      @for (c of basicColors; track c) {
        <button class="color-swatch" type="button" [class.selected]="isColorSelected(c)" [style.background-color]="'#' + c" (click)="onCurrentColorChange(c)"></button>
      }
      <button class="color-swatch random-swatch" type="button" (click)="onCurrentColorChange(randomColor())">🎲</button>
    </div>
    <div class="hex-row">
      <span class="hex-hash">#</span>
      <gol-input class="hex-input" name="tribeHex" regex="^[0-9a-fA-F]{0,6}$" [ngModel]="currentColor" (ngModelChange)="onCurrentColorChange($event)" />
      <input class="native-picker" type="color" [value]="nativeColor(currentColor)" (input)="onCurrentColorChange($event.target.value)" />
    </div>
    @if (isAdder) {
      <gol-button-pair leftIcon="add" leftLabel="Add" rightIcon="close" rightLabel="Cancel" [leftDisabled]="!canConfirmAdd" (leftClick)="confirmAdd.emit()" (rightClick)="cancelAdd.emit()" />
    }
  </div>
}
