@if (showPanel) {
  <div class="tribe-panel">
    @if (showHeader && tribe) {
      <div class="tribe-edit-row">
        <span class="tribe-color-swatch" [style.background-color]="'#' + tribe.color"></span>
        <span class="tribe-id">{{ tribe.id }}</span>
        <gol-button class="small-btn" icon="edit" label="Edit tribe" variant="icon" (clicked)="editToggle.emit(index)" />
        <gol-button class="small-btn" icon="close" label="Remove tribe" variant="icon" (clicked)="remove.emit(index)" />
      </div>
    }

    @if (showEditor) {
      <div class="tribe-editor">
        <div class="name-edit-row">
          <gol-input class="tribe-name-input" name="tribeName" placeholder="Name (A-z, 0-9)" [ngModel]="currentName" (ngModelChange)="onCurrentNameChange($event)" />
        </div>
        <div class="color-palette">
          @for (c of basicColors; track c) {
            <button class="color-swatch" type="button" [class.selected]="currentColor === c" [style.background-color]="'#' + c" (click)="onCurrentColorChange(c)"></button>
          }
          <button class="color-swatch random-swatch" type="button" (click)="onCurrentColorChange(randomColor())">🎲</button>
        </div>
        <div class="hex-row">
          <span class="hex-hash">#</span>
          <gol-input class="hex-input" name="tribeHex" [ngModel]="currentColor" (ngModelChange)="onCurrentColorChange($event)" />
          <input class="native-picker" type="color" [value]="nativeColor(currentColor)" (input)="onCurrentColorChange($event.target.value)" />
        </div>

        @if (isAdder) {
          <gol-button-pair leftIcon="add" leftLabel="Add" rightIcon="close" rightLabel="Cancel" [leftDisabled]="!canConfirmAdd" (leftClick)="confirmAdd.emit()" (rightClick)="cancelAdd.emit()" />
        }
      </div>
    }
  </div>
}
