<form [formGroup]="form" (ngSubmit)="onApplyTribes()">
  <div class="tribe-list" formArrayName="tribes">
    @for (tribeForm of tribes.controls; track rowKey($index); let index = $index) {
      @if (tribeForm.controls.id.value !== "dead") {
        <gol-tribe-entry [basicColors]="basicColors" [form]="tribeForm" [tribeKey]="rowKey(index)" [validationVersion]="tribeDraftValidationVersion" (editingChange)="onRowEditingChange(rowKey(index), $event)" (remove)="onRemoveTribe($event)" />
      }
    }
    @if (showTribeAdder) {
      <gol-tribe-entry [adder]="true" [basicColors]="basicColors" [form]="addForm" (add)="onAddTribe()" (cancelAdd)="cancelAddTribe()" />
    } @else {
      <gol-button icon="add" label="Add tribe" tooltip="Add a new tribe" type="button" variant="stroked" (clicked)="startAddTribe()" />
      @for (message of tribeApplyErrorMessages; track message) {
        <span class="error-message tribe-impact-error">{{ message }}</span>
      }
    }
  </div>
  <gol-button-pair [leftDisabled]="applyDisabled" [rightDisabled]="restoreDisabled" [rightType]="'button'" (rightClick)="onRestoreTribes()" />
</form>
