:host {
  display: block;

  .selected-frames {
    margin: 8px 0;
  }

  .range-dash {
    text-align: center;
    line-height: 1.1;
  }

  .range-input {
    display: flex;
    flex-direction: column;
  }

  .error-message {
    text-align: center;
  }
}
