<form class="gol-grid-tiny" [formGroup]="form">
  <gol-label-value class="gol-cell-12 selected-frames" label="Selected frames" title="Selected frames out of total recorded frames" [value]="selectedFrameCount" />
  <div class="gol-cell-12 gol-grid-tiny">
    <gol-checkbox class="gol-cell-3" formControlName="allFrames" label="All" size="sm" tooltip="Select all recorded frames" />
    <gol-input class="gol-cell-4" formControlName="startFrame" name="startFrame" regex="^([1-9][0-9]*)?$" title="Start frame" type="number" />
    <span class="gol-cell-1 range-dash">-</span>
    <gol-input class="gol-cell-4" formControlName="endFrame" name="endFrame" regex="^([1-9][0-9]*)?$" title="End frame" type="number" />
  </div>
  <div class="gol-cell-12 gol-grid-tiny">
    <div class="gol-cell-3"></div>
    <span class="gol-cell-4 error-message compact-message" title="" [class.empty]="!startFrameError">{{ startFrameError }}</span>
    <div class="gol-cell-1"></div>
    <span class="gol-cell-4 error-message compact-message" title="" [class.empty]="!endFrameError">{{ endFrameError }}</span>
  </div>
</form>
