:host {
  display: block;
}

.label-value-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.label {
  color: #aaa;
}

.value {
  color: #fff;
  font-variant-numeric: tabular-nums;
}
