@for (option of options; track $index) {
  <button class="exclusive-button" type="button" [attr.aria-label]="option.label || option.tooltip || ''" [class.active]="isActive(option)" [disabled]="disabled || option.disabled" [matTooltip]="option.tooltip || option.label || ''" [matTooltipDisabled]="!(option.tooltip || option.label)" (blur)="touch()" (click)="onOptionClick(option)">
    @if (option.icon) {
      <mat-icon [ngStyle]="option.iconStyle || null">{{ option.icon }}</mat-icon>
    }
    @if (option.label) {
      {{ option.label }}
    }
  </button>
}
