<div class="gol-grid-tiny" [formGroup]="form">
  <gol-button class="gol-cell-4" variant="flat" [disabled]="runDisabled" [icon]="canPause ? 'pause' : 'play_arrow'" [label]="canPause ? 'Pause' : 'Run'" [title]="canPause ? 'Pause the simulation' : 'Run the simulation'" (clicked)="toggleRun.emit()" />
  <gol-button class="gol-cell-2" icon="skip_previous" label="Step back" variant="icon" [disabled]="stepBackDisabled" [title]="stepBackTooltip" (clicked)="onStepBack()" />
  <gol-number-input class="gol-cell-4" formControlName="skipAmount" name="skipAmount" title="Skip amount" [decimalDigits]="0" [min]="1" (blurred)="restoreInvalidSkipAmount()" />
  <gol-button class="gol-cell-2" icon="skip_next" label="Step forward" variant="icon" [disabled]="stepForwardDisabled" [title]="stepForwardTooltip" (clicked)="onStepForward()" />
  <div class="info-labels gol-cell-12 gol-grid-tiny">
    <gol-label-value class="gol-cell-6" label="Generation" title="Generation counter" [value]="generationCounter.toLocaleString()" />
    <gol-label-value class="gol-cell-6" label="Gen/s" title="Generations per second" [value]="metricsFps.toLocaleString(undefined, { maximumFractionDigits: 0 })" />
  </div>
</div>
<gol-button class="reset" icon="restart_alt" label="Reset Simulation" title="Reset the simulation" variant="flat" [disabled]="isBusy" (clicked)="restart.emit()" />
