@if (interactive) {
  <button class="swatch" type="button" [attr.aria-label]="tooltip" [class.selected]="selected" [class.size-md]="size === 'md'" [class.size-sm]="size === 'sm'" [class.size-xs]="size === 'xs'" [matTooltip]="tooltip" [matTooltipDisabled]="!tooltip" [style.background-color]="color ? '#' + color : null" (click)="emitClick($event)"></button>
} @else {
  <span class="swatch" [attr.aria-label]="tooltip" [class.selected]="selected" [class.size-md]="size === 'md'" [class.size-sm]="size === 'sm'" [class.size-xs]="size === 'xs'" [matTooltip]="tooltip" [matTooltipDisabled]="!tooltip" [style.background-color]="color ? '#' + color : null"></span>
}
