<h3 class="section-title" [class.section-title-collapsible]="collapsible" (click)="onHeaderClick()">
  @if (collapsible) {
    <mat-icon class="expand-icon">{{ expanded ? "expand_more" : "chevron_right" }}</mat-icon>
  }
  <span>{{ title }}</span>
  @if (info) {
    <span class="section-info">{{ info }}</span>
  }
</h3>
<div [class.open]="!collapsible || expanded" [class.section-content-collapsible]="collapsible" [title]="description">
  <div class="section-content-inner">
    <ng-content select="gol-storage-bar"></ng-content>
    <span class="section-description">{{ description }}</span>
    <ng-content></ng-content>
  </div>
</div>
