:host {
  display: block;
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;

  > .summary-text {
    white-space: pre;
  }

  > .summary-overflow {
    position: relative;
    width: 14px;
    height: 14px;
    flex: 0 0 auto;
    border-radius: 3px;
    outline: 1px solid #4b4b69;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: currentColor;
    background: #181829;
    transform: translateY(2px);

    mat-icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
    }
  }

  > gol-tribe-swatch {
    transform: translateY(2px);

    & + gol-tribe-swatch {
      margin-left: 3px;
    }
  }
}
