<mat-form-field class="gol-select-field" subscriptSizing="dynamic" [appearance]="appearance">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <mat-select [disabled]="disabled" [hideSingleSelectionIndicator]="hideSingleSelectionIndicator" [panelClass]="panelClass" [placeholder]="placeholder" [value]="value" (blur)="touch()" (closed)="touch()" (selectionChange)="onSelectionChange($event.value)">
    @if (selectedOption; as selected) {
      <mat-select-trigger>
        <span class="gol-select-rich-value">
          @if (selected.swatchColor; as selectedSwatchColor) {
            <gol-tribe-swatch size="sm" [color]="selectedSwatchColor" [interactive]="false" [title]="selected.label" />
          }
          <span>{{ selected.label }}</span>
        </span>
      </mat-select-trigger>
    }
    @for (option of options; track option.value) {
      <mat-option [class.gol-option-hidden]="option.hidden === true" [disabled]="option.disabled" [value]="option.value">
        @if (option.swatchColor; as swatchColor) {
          <span class="gol-select-rich-option">
            <gol-tribe-swatch size="sm" [color]="swatchColor" [interactive]="false" [title]="option.label" />
            <span>{{ option.label }}</span>
          </span>
        } @else {
          <span class="gol-select-option-label">{{ option.label }}</span>
        }
      </mat-option>
    }
  </mat-select>
</mat-form-field>
